<div style="margin-top: 5px">
    <div align="right" style="margin-right:3px;">
        <button type="button" class="btn btn-info">
            <a href="http://jwc.whut.edu.cn/" target="_blank">
                教务处</a>
        </button>
        <button type="button" class="btn btn-info">
            <a href="http://econ.whut.edu.cn/" target="_blank">
                经院官网</a>
        </button>
        <button type="button" class="btn btn-info">
            <a href="http://lib.whut.edu.cn/" target="_blank">
                图书馆</a>
        </button>
    </div>
    <hr>
</div>