<!DOCTYPE html>
<html lang="ch-zn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <meta name="viewport"content="width=device-width,initial-scale=1">
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <style>
  .bkc{
    background-color: #9aeaff;
  }
  </style>

  <title>学生信息</title>
</head>
<body>
{include file='other/headlink'}
<div align="left" style="margin-left: 3px">
  <button type="button" class="btn btn-info">
    <a href="{:url('index/Login/loginout')}">退出登录</a>
  </button>
</div>
<h1 align="center">个人信息</h1>
<div align="right" style="margin-right: 3px;margin-top: 3px;">{:$name}同学！欢迎您!</div>
  <hr>
  <div class="contaner">
    <div class="col-md-12">
      <caption align="center">致家长的一封信</caption>
      <br>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          选择学期查看
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a onclick="getArticle('2017-2018-2')" href="#">2017-2018-2</a></li>
          <!--<li><a href="#">Another action</a></li>-->
          <!--<li><a href="#">Something else here</a></li>-->
          <!--<li role="separator" class="divider"></li>-->
          <!--<li><a href="#">Separated link</a></li>-->
        </ul>
      </div>
    </div>

    <div id="article" style="margin-right: 22px; margin-left: 22px; margin-top: 10px;"></div>
    <!--<div class="col-md-12">-->
      <!--<table class="table table-bordered table-hover bkc">-->
        <!--<caption align="center">个人概况</caption>-->
        <!--<tr>-->
          <!--<th>姓名</th> <th>性别</th> <th>民族</th> <th>身份证号</th> <th>联系方式</th>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td></td> <td></td> <td></td> <td></td> <td></td>-->
        <!--</tr>-->
        <!--&lt;!&ndash;<tr>&ndash;&gt;-->
            <!--&lt;!&ndash;<td></td> <td></td> <td></td> <td></td> <td></td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
      <!--</table>-->
    <!--</div>-->
    <br>
<!--<div class="col-md-12">-->
  <!--<table class="table table-bordered table-hover">-->
    <!--<caption align="center">学业概况</caption>-->
    <!--<tr>-->
      <!--<th>姓名</th>-->
      <!--<th>学号</th>-->
      <!--<th>班级</th>-->
    <!--</tr>-->
  <!--</table>-->
<!--</div>-->
  </div>
</body>
<script>
  function getArticle(){
      var content = '{$content["2017-2018-2"]}';
      document.getElementById('article').innerHTML = content;
  }
</script>
</html>
