<!DOCTYPE html>
<html lang="ch-zn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <meta name="viewport"content="width=device-width,initial-scale=1">
<style>
  .pageStyle{
    padding: 10px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .fontStyle{
    color: #333;
    text-align: center;
    font-size: 25px;
  }
</style>
  <title>学生登录界面</title>
</head>
<body class="pageStyle">
  <div align="right" margin-right=3px;>
    <button type="button" class="btn btn-info">
      <a href="https://www.baidu.com/link?url=pLtN_J6-D0gejsv9_mJReeSo4W3xWM_hDvldul7jz8CEIOcOCvTGgCNytBh0rf8R&wd=&eqid=dfe0ef0e00022a89000000025b4b2487" target="_blank">
  教务处</a>
      </butto>
    <button type="button" class="btn btn-info">
      <a href="https://www.baidu.com/link?url=5Babh7LPe6Ei69R1ZyZVk05SwkTtORdfreaBQVzB_3NOleZgfxRCWv_iKyh_5JU2&wd=&eqid=d33e20e70002dbbd000000025b4b2683" target="_blank">
  经院官网</a>
    </button>
    <button tyle="button" class="btn btn-info">
      <a href="https://www.baidu.com/link?url=Z7EBI359BTR20bvdRQ9AQ597a8Sa-Se7uXDS_DjTw7hnbX48-bN_bTn9J9Qvk5L1&wd=&eqid=c5d01d9500026daa000000025b4b26e6" target="_blank">
  图书馆
  </a>
    </button>
      <hr>
  </div>
  <br><br><h1 class="fontStyle" font-size:15px;>武理经院学生信息中心</h1> <br>
  <div class="contaner">
        <form action="{:url('index/Login/login')}" role="form" method="post" class="form-horizontal">
          <fieldset >
            <legend align="center" font-size:15px;>学生登录</legend>
            <div class="form-group">
              <label for="id" class= " control-label  col-md-offset-3 col-md-1" > 账号：</label>
                <div class="col-md-4"><input type="text" class="form-control" name="sno" placeholder="学号"></div>
            </div>
            <div class="form-group "  >
              <label for="password" class="control-label  col-md-offset-3 col-md-1"> 密码：</label>
                <div class="col-md-4"> <input type="password" class="form-control" name="password" placeholder="密码"></div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-4 col-md-4"><button name="button" type="submit" class="btn btn-info btn-block" >登录</button></div>
            </div>
            <!--<div class="form-group">-->
              <!--<div class="col-md-offset-4 col-md-4"><button name="button" type="" class="btn btn-info btn-block"><a href="http://sso.jwc.whut.edu.cn/Certification//toForgetPassword.do" target="_blank">忘记密码</a></button></div>-->
            <!--</div>-->
          </fieldset>
        </form>
      </div>
</body>
</html>
